<div class="col-lg-12">
            <div class="mail-box-header">
                <div class="mail-tools tooltip-demo m-t-md">
                    <h3>
                        <strong>Subject: </strong><%= @incoming_message.title %>
                    </h3>
                    <h5>
                        <span class="pull-right font-noraml"><%= @incoming_message.data.to_date.to_s(:long) %></span>
                        <strong>From: </strong><%= @incoming_message.mailer%>
                    </h5>
                </div>
            </div>
                <div class="text-left">
                    <div class="mail-body">
                         <%= @incoming_message.body %>
                    </div>
                    <div class="mail-attachment">
                      <% if @incoming_message.other_recipients.present? %>
                        <p class="message_recipients"><strong>Other recipients: </strong><%= @incoming_message.other_recipients%></p>
                      <% end %>
                      <% if @incoming_message.attachments.present? %>
                          <strong>Attachments:</strong> 
                        <% @incoming_message.attachments.each_with_index do |attach, number| %>
                         <td><%= link_to "Attachment #{number + 1}", root_path + attach %></td>
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <div class="links">
                	  <%= link_to 'Back', incoming_messages_path %>
                </div> 
                